<h1>{{name}}</h1>

  <input type="radio" name="objtype" value="JSON" (change)="onRadioChange('JSON')"> JSON Objects  <br>
  <input type="radio" name="objtype" value="CSHARP" (change)="onRadioChange('CSHARP')"> C# Class Properties  <br>
  
<br/>
Include 'JsonProperty' 
<input type="checkbox" [checked]="includeJsonProperty" (change)="changeStatus($event.target.checked)">
<br/><br/>
<div>
 <textarea   type="text"  rows = "20" cols = "50" #textValue ></textarea> 
</div>
<div>
  <button (click)="submit(textValue)">Submit</button>
</div>
<div>
 <!--  {{converted}} -->
<div id ='formatted' *ngFor = 'let item of cSharpClassArray' >
 {{item}}
</div>
</div>
